* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.Profile{
    display: flex;
}
.Logo{
   width: 30%;
   display: flex;
   justify-content: center;
}
.MainData{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-around;
}
h3{
    font-size: 30pt;
}
.profileName{
    display: flex;
    align-items: center;
}
.startData{
    border:2px solid rgb(6, 161, 223);
    padding: 4px;
    color: rgb(6, 161, 223);
    margin-left: 15px;
}
span.bold{
    font-weight: bold;
}
.counts{
    display: flex;
}
.counts div{
    margin-right: 15px;
}
.datapicker{
    display: flex;
    align-items: center;
}
#data1 {
    margin-right: 15px;
    margin-left: 15px;
}
.Gallerey{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
}
.item{
    width: 33%;
    position: relative;
    /* padding: 10px; */
    background-color: rgba(0, 0, 0, 0)
}
.info{
    position: absolute;
    color: white;
    left: 14%;
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 75%;
    opacity: 0;
}
.today{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
    margin-top: 15px;
}
.date{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
    margin-top: 15px;
}
.upload{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.video{
    position: absolute;
    color: white;
    left: 88%;
    top: 5%;
    opacity: 0;
}
.item > img{
    width: 100%;
}
.item:hover{
    background-color: black;
}
.item:hover .info {
    transition: 0.2s ease; 
    opacity: 1;
}

.item:hover img{
    opacity: 0.5;
   
}
.item:hover .video {
    transition: 0.2s ease; 
    opacity: 1;
}

.loadButton{
    display: flex;
   justify-content: center;
   align-items: center;
   min-height: 15vh;
}
.loadMore{
    border-radius: 15px;
    border: 1px solid black;
    width: 18%;
    height: 30px;
    font-size: 12pt;
    background-color: aliceblue;
}

@media screen and (max-width: 1023px){
    .item{
        width: 50%;
    }
}

@media screen and (max-width: 767px){
    .item{
        width: 100%;
    }
    .loadMore{
        width: 40%; 
        
    }
    .Profile{
        display: flex;
        flex-direction: column;
    }
    .Logo{
        width: 100%;
    }
    .MainData{
        width:100%;
        min-height: 15vh;
    }
    .profileName{
        justify-content: center;
    }
    .counts{
        display: flex;
        justify-content: center
    }
    .datapicker{
        display: flex;
        justify-content: center;
    }
    h3{
        font-size: 20pt;
    }
}



