* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.Profile{
    display: flex;
}
.Logo{
   width: 30%;
   display: flex;
   justify-content: center;
}
.MainData{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-around;
}
h3{
    font-size: 30pt;
}
.profileName{
    display: flex;
    align-items: center;
}
.startData{
    border:2px solid rgb(6, 161, 223);
    padding: 4px;
    color: rgb(6, 161, 223);
    margin-left: 15px;
}
span.bold{
    font-weight: bold;
}
.counts{
    display: flex;
}
.counts div{
    margin-right: 15px;
}
.datapicker{
    display: flex;
    align-items: center;
}
.datapicker label,
input{
    margin-right: 15px;
}
.Gallerey{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
}
.item{
    width: 33%;
    position: relative;
    padding: 10px;
}
.info{
    position: absolute;
    color: white;
    left: 14%;
    top: 50%;
    display: flex;
    flex-direction: column;
    width: 75%;
    opacity: 0;
}
.today{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
    margin-top: 15px;
}
.date{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
    margin-top: 15px;
}
.upload{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.video{
    position: absolute;
    color: white;
    left: 88%;
    top: 5%;
    opacity: 0;
}
.item > img{
    width: 100%;
}
.item:hover .info {
    transition: 0.2s ease; 
    opacity: 1;
}

.item:hover .video {
    transition: 0.2s ease; 
    opacity: 1;
}
.loadButton{
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   min-height: 15vh;
}
.loadMore{
    border-radius: 15px;
    border: 1px solid black;
    width: 18%;
    height: 30px;
    font-size: 12pt;
    background-color: aliceblue;
}



